extends layout

block content
  .setup
    h1= title
    p Welcome to #{title}
    div
      form(action='/devices', method='post')
        ul
          each deviceComponent, index in deviceComponents
            li
                = deviceComponent.device.label + " " + "(" + deviceComponent.device.dth.deviceTypeName + ")"
            if (deviceComponent.device.switch !== "")
               input(type='submit', value=deviceComponent.device.switch, data-transition='fade', data-theme='c', name=deviceComponent.device.deviceId, id=deviceComponent.device.deviceId)




